<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.steven.muzeillect">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

  <application
    android:name="com.steven.muzeillect.MuzeillectApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">
    <provider
      android:name="com.steven.muzeillect.ArchillectArtProvider"
      android:authorities="com.steven.muzeillect"
      android:description="@string/source_desc"
      android:exported="true"
      android:label="@string/source_label"
      android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
      <intent-filter>
        <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
      </intent-filter>
      <meta-data
        android:name="settingsActivity"
        android:value="com.steven.muzeillect.MainActivity" />
    </provider>

    <activity
      android:name="com.steven.muzeillect.PermissionRequestActivity"
      android:excludeFromRecents="true"
      android:theme="@style/TransparentTheme" />

    <activity
      android:name="com.steven.muzeillect.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https"
          android:host="www.archillect.com" />
      </intent-filter>
    </activity>
  </application>

</manifest>
