<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name="com.steven.muzeillect.MuzeillectApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">

    <activity-alias
      android:name="${appBundle}.MuzeillectLauncherActivity"
      android:targetActivity="com.steven.muzeillect.MuzeillectRedirectActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <activity
      android:name="com.steven.muzeillect.MainActivity"
      android:exported="true" />

    <activity
      android:name="com.steven.muzeillect.MuzeillectRedirectActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <provider
      android:name="com.steven.muzeillect.MuzeillectArtProvider"
      android:authorities="${appBundle}"
      android:description="@string/source_desc"
      android:exported="true"
      android:label="@string/app_name"
      android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
      <intent-filter>
        <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
      </intent-filter>
      <meta-data
        android:name="settingsActivity"
        android:value="com.steven.muzeillect.MainActivity" />
    </provider>

    <provider
      android:name="com.google.android.apps.muzei.api.provider.MuzeiArtDocumentsProvider"
      android:authorities="${appBundle}.documents"
      android:exported="true"
      android:grantUriPermissions="true"
      android:permission="android.permission.MANAGE_DOCUMENTS">
      <intent-filter>
        <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
      </intent-filter>
    </provider>

    <receiver android:name="com.steven.muzeillect.BlackListReceiver" />
  </application>

</manifest>
